<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>VankarChaitanya</title>
</head>
<body>
    <div class="grid-2">
        <div class="section-1">
            <img id="me" src="static/mypics.png" alt="Description Picture" width="300px" height="300px" border-radius="50%" >
            <h2>CHAITANYA SWAROOP</h2>
            <p>WARANGAL,TELANGANA,INDIA.</p>
            <a href="https://www.linkedin.com/in/swaroopofficiel/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/SwaroopOfficiel"><i class="fab fa-github"></i></a>
        </div>
        <div class="section-2">
            <h2>About</h2>
            <p>
             I caught in coding.
I always thought my dream was to be a programmer. Presently I am working as a content writer for a blog in various product descriptions. It was good because I am getting a decent pay scale. I always love the work whatever maybe.
But I always want to be a programmer so, I started learning programming language C and C#. I was passionate about IoT and started knowing about and exploring the various development in this field.
My specialties include quickly learning new skills and programming language and problem-solving.
so far I have C and C#. I've started learning python and Git/Github. I'm still enthusiastically grabbing onto any other programming language, framework, or prinicple I can integrate into coding in my head.

            </p>
            <h2>The programming language I know</h2>
            <p>
                C , C#, Python, Flask
            </p>
            <h2>My repos</h2>
            <a href="https://github.com/SwaroopOfficiel/Converter-and-calculator-using-python/blob/master/Built%20Calculator%20by%20using%20If%20statements.py">Calculator</a>
            <a href="https://github.com/SwaroopOfficiel/Ping-game-">pong game</a>
            <a href="https://github.com/SwaroopOfficiel/Python-maths/blob/master/Find%20the%20random%20number.py">Guessing the secert number</a>
            <h2>Contact</h2>
            <p>vankar_chaitanya@yahoo.com</p>

        </div>
    </div>
</body>
</html>